<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tetlapaloa aueyak ouitl</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <h1>Tlajtoyotl kaxtilkopa</h1>
    </div>
    <iframe frameborder="0" width="350" height="100" src="https://drive.google.com/file/d/1fiCUIK1Bc4tX5kcJqjZHmGnIt0CqwcFP/preview">   
    </iframe>
</ion-content>
<ion-toolbar>
    <ion-button slot="start" href="/folder/folder.module">
        <ion-icon slot="start" name="caret-back-outline">
        </ion-icon>
    </ion-button>
    <ion-button slot="end" href="/numeros3">
        <ion-icon slot="start" name="caret-forward-outline">
        </ion-icon>
    </ion-button>
</ion-toolbar>