<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Tetlapaloa Aueyak Ouitl</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <div class="ion-text-center">
        <h1>Isiukayotl kaxtilkopa</h1>
    </div>
    <p align="center"><iframe frameborder="0" width="350" height="100" src="https://drive.google.com/file/d/1zfBe4xHCJdMjaejrSOAvGXbTiQURT0tr/preview">
    </iframe></p>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Subtitulo en español</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>*Sonido de puerta de supermercado* <br>LC1: Hola bienvenido a mi supermercado. <br>LC1: ¿Cómo te llamas?. <br>LC2: Hola me llamo María. <br>LC1: ¿Cómo estas María?. <br>LC2: Bien gracias y, ¿tu?.<br>LC1: Estoy mal.
                        <br>LC2: ¿Pór que?. <br>LC1: No encuentro mi cartera. <br>LC2: Dónde fue la última vez que lo viste. <br>LC1: Cuando estaba en los pasillos. <br>LC2: Vamos a buscarla. <br>*Sonido de pasos* <br>LC2: Mire ahí está su cartera.
                        <br>LC2: Está es su cartera. <br>LC1: Si muchas gracias. <br>LC2: De nada. <br>LC2: Adiós.</ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Tlajkuiloli kaxtilkopa</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        *tsatsilistli kaltentli ueytiankistli* <br>LC1: Niltse ximopanolti nech ueytiankistli <br>LC1: ¿kenin motoka? <br>LC2: niltse notoka maria <br>LC1: niltse notoka guadalupe<br>LC1: ¿kenin otimopanolti maria?<br>LC2: kuali tlasojkamati
                        juan
                        <br>LC1: nika akuali <br>LC2: ¿nik? <br>LC1: tenamikilistli amakuiloni <br>LC2: ¿kanin ikak xokoyok sepan tlein ixpan <br>LC1: itkin ka temachcaltiloyan <br>LC2: tiui tlatemoa <br>*tsatsilistli sentlaxitl* <br>LC2: tlachia nexkan
                        amakuiloni
                        <br>LC2: ijkuilotik amakuiloni <br>LC1: tlasojkamati uel miek <br>LC2: amitla <br>LC2: anej <br>*tsatsilistli kaltentli ueytiankistli*</ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-button color="secondary" shape="round" expand="block" [routerLink]="['/numeros3']" (click)="subirhome3()">Siguiente lección</ion-button>
</ion-content>