<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>home2</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</ion-content>
<ion-toolbar>
    <ion-button slot="start" href="/folder/folder.module">
        <ion-icon slot="start" name="caret-back-outline">
        </ion-icon>
    </ion-button>
    <ion-button slot="end" href="/numeros2">
        <ion-icon slot="start" name="caret-forward-outline">
        </ion-icon>
    </ion-button>
</ion-toolbar>