<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Tetlapaloa Aueyak Tsala</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected">
            <ion-list-header>
                <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
            </ion-list-header>
            <ion-list-header>
                <ion-label>1.- ¿Tlein neskayotia tamoxtla? </ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Hasta Mañana</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Mañana</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Hoy</ion-label>
                <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar1()">Itta/Verificar 1</ion-button>
            </ion-item>

        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected1">
            <ion-list-header>
                <ion-label>2.- ¿Tlein neskayotia kenin motoka? </ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>¿Estás?</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>¿Cómo estás?</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Mi nombre</ion-label>
                <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar2()">Itta/Verificar 2</ion-button>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected2">
            <ion-list-header>
                <ion-label>3.- ¿Tlein neskayotia kenin otimopanolti? </ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>¿Estás?</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>¿Cómo estás?</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Hoy</ion-label>
                <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar3()">Itta/Verificar 3</ion-button>
            </ion-item>

            <ion-button expand="block" slot="end" color="secondary" shape="round" [routerLink]="['/numeros2']" (click)="subirsaludo2()">Siguiente lección</ion-button>
        </ion-radio-group>
    </ion-list>
</ion-content>