<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Tlapali</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <ion-img src="assets/img/customers.jpg"></ion-img>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Tlapaltekonali/Colores</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>Chichiltic-Rojo</ion-label>
                    <ion-badge color="danger">R</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Xoxoctic-Verde</ion-label>
                    <ion-badge color="success">V</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Azultic-Azul</ion-label>
                    <ion-badge color="primary">A</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Chipahuac-Blanco</ion-label>
                    <ion-badge color="light">B</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Yayahuic-Negro</ion-label>
                    <ion-badge color="dark">R</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Achilcoz-Anaranjado</ion-label>
                    <ion-badge color="warning">N</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Tenextic-Gris</ion-label>
                    <ion-badge color="medium">R</ion-badge>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-button color="secondary" shape="round" [routerLink]="['/salud']" expand="block" (click)="subircolor1()">Siguiente lección</ion-button>
</ion-content>