<ion-header [translucent]="true">
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ximopanolti</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Ximopanolti</ion-title>
        </ion-toolbar>
    </ion-header>

    <br />

    <ion-title size="large" align="center">Aueyak Moneki / Nivel básico</ion-title>
    <ion-slides pager="true">
        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/karla.jpeg" [routerLink]="['/home']"></ion-img>
                    <p>
                        Ximopanolti timochtin tsaloa tetlapaloa nikan <br/> (Nivel básico para aprender saludos)
                    </p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/NUMERO.jpg" [routerLink]="['/numeros']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapoua nikan<br/> (Nivel básico para aprender números)
                    </p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/color.jpeg" [routerLink]="['/customers']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapaltekonali nikan<br/> (Nivel básico para aprender colores)
                    </p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/SALUD.jpeg" [routerLink]="['/salud']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa pakayelistli nikan<br/> (Nivel básico para aprender enfermedades)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>
    </ion-slides>
    <br/>
    <ion-label>
        <p align="center">Barra de aprendizaje nivel básico</p>
        <ion-progress-bar color="success" value={{valor1}} ffer="1">
        </ion-progress-bar>
    </ion-label>

    <br/>
    <ion-title size="large" align="center">Aueyak Tsala / Nivel medio</ion-title>
    <ion-slides pager="true">
        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/karla.jpeg" [routerLink]="['/home2']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tetlapaloa nikan<br/> (Nivel medio para aprender saludos)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/NUMERO.jpg" [routerLink]="['/numeros2']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapoua nikan<br/> (Nivel medio para aprender números)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/color.jpeg" [routerLink]="['/customers2']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapaltekonali nikan<br/> (Nivel medio para aprender colores)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/SALUD.jpeg" [routerLink]="['/salud2']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa pakayelistli nikan<br/> (Nivel medio para aprender enfermedades)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>
    </ion-slides>
    <br/>
    <ion-label>
        <p align="center">Barra de aprendizaje nivel medio</p>
        <ion-progress-bar color="success" value={{valor2}} buffer="1">
        </ion-progress-bar>
    </ion-label>
    <br />
    <ion-title size="large" align="center">Aueyak Ouitl / Nivel avanzado</ion-title>
    <ion-slides pager="true">
        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/karla.jpeg" [routerLink]="['/home3']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tetlapaloa nikan<br/> (Nivel avanzado para aprender saludos)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/NUMERO.jpg" [routerLink]="['/numeros3']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapoua nikan<br/> (Nivel avanzado para aprender números)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/color.jpeg" [routerLink]="['/customers3']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa tlapaltekonali nikan<br/> (Nivel avanzado para aprender colores)</p>
                    <br />
                </ion-label>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label>
                    <ion-img src="assets/img/SALUD.jpeg" [routerLink]="['/salud3']"></ion-img>
                    <p>Ximopanolti timochtin tsaloa pakayelistli nikan<br/> (Nivel avanzado para aprender enfermedades)
                        <p>
                            <br />
                </ion-label>
            </ion-item>
        </ion-slide>
    </ion-slides>
    <br/>
    <ion-label>
        <p align="center">Barra de aprendizaje nivel avanzado</p>
        <ion-progress-bar color="success" value={{valor3}} buffer="1">
        </ion-progress-bar>
    </ion-label>
    <br/>
    <br/>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="chatbubbles-outline" [routerLink]="['/formulario']"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>