<ion-header>
  <ion-toolbar color="mycolor">
      <ion-title>Peualtia</ion-title>
      <ion-icon slot="start" [routerLink]="['/folder/folder.module']" name="caret-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown" color="mycolor">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/img/logo.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Motoka">
      <input type="text" id="password" class="fadeIn third" name="login"placeholder='* * * * * * * * * *'>
      <input type="submit" class="fadeIn fourth"  [routerLink]="['/folder/folder.module
      ']" value="Tsintilistli"> 
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="registration">yankuik</a>
    </div>

  </div>
</div>