<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Pakayelistli</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <ion-img src="assets/img/salud.jpg"></ion-img>
    <ion-accordion-group>
        <ion-accordion value="enfer" toggle-icon="swap-vertical-outline">
            <ion-item slot="header">
                <ion-label>Kokolistli/Enfermedades</ion-label>
            </ion-item>
            <ion-list slot="content">

                <ion-item>
                    <ion-icon color="danger" slot="start" name="sad-outline">
                    </ion-icon>
                    <ion-label>Yolokuakualotl-Dolor del corazón</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="danger" slot="start" name="sad-outline">
                    </ion-icon>
                    <ion-label>nechkokoyalistli-Dolor del cuerpo</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="danger" slot="start" name="sad-outline">
                    </ion-icon>
                    <ion-label>Ejekauia-Falta de aire</ion-label>
                </ion-item>


                <ion-item>
                    <ion-icon color="warning" slot="start" name="warning-outline">
                    </ion-icon>
                    <ion-label>Kokoxkayotl-Enfermedad contagiosa</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="warning" slot="start" name="warning-outline">
                    </ion-icon>
                    <ion-label>Teleltilistli-Embarazada</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="warning" slot="start" name="warning-outline">
                    </ion-icon>
                    <ion-label>Atonauilistli-Fiebre</ion-label>
                </ion-item>




                <ion-item>
                    <ion-icon color="success" slot="start" name="bandage-outline">
                    </ion-icon>
                    <ion-label>Yakakuitlatl-Escurrimiento nasal</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="success" slot="start" name="bandage-outline">
                    </ion-icon>
                    <ion-label>Kuxololistli-Estornudo</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="success" slot="start" name="bandage-outline">
                    </ion-icon>
                    <ion-label>tetlokoltilistli-Estreñimiento</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="success" slot="start" name="bandage-outline">
                    </ion-icon>
                    <ion-label>Estetliokolili-Donación sanguínea</ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-button color="secondary" shape="round" [routerLink]=" [ '/folder/folder.module'] " expand="block " (click)="subirsalud1()">Terminar Lesion</ion-button>
</ion-content>