<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Pakayelistli Aueyak Ouitl</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <div class="ion-text-center">
        <h1>Isiukayotl kaxtilkopa</h1>
    </div>
    <p align="center"><iframe frameborder="0" width="350" height="100" src="https://drive.google.com/file/d/1xleE9pobdp0V78Ag2A6MZK_p0rroDImg/preview">   
    </iframe></p>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Subtitulo en español</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        LC1: Buenos días Doctor Marcos. <br> LC2: Buenos días Nelson <br> ¿Cómo puedo ayudarte? <br> LC1: Pues, me he sentido mareado y débil <br> y ahora mismo tengo un dolor de cabeza. <br> LC2: ¿Come mucho dulce? <br> LC1: Si, me
                        gusta mucho. <br> LC2: Debería comer menos azúcar. <br> ¿Tiene algún otro síntoma? <br> LC1: En realidad, quería decirle que tengo <br> sueño todo el tiempo. <br> LC2: Voy a revisar su pulmón. <br> LC1: Perfecto. <br> LC2: Su
                        pulmón está bien. <br> LC2: ¿Es alérgico a algún medicamento? <br> LC1: No. <br> LC2: Entonces, le voy a prescribir unos <br> analgésicos por el momento, tome 1 <br> tableta durante 5 días. <br> LC2: También necesita hacerse un
                        análisis <br> de sangre y descansar por unos días. <br> LC1: Prometo que lo haré. <br> LC2: Vuelva con los resultados y le daré un <br> diagnóstico y un tratamiento. <br> LC1: Gracias doctor, tenga un buen día.

                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Tlajkuiloli kaxtilkopa</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        LC1: kuali tonali tisitl Marcos <br> LC2: kuali tonali Nelson.¿kenin otimouikak? <br> LC1: mati akuali tsontekoneua kokoxki <br> LC2: apitsti miak nekutik? <br> LC1: me paloa miak <br> LC2: uikilia apitsti nenkan, okse tlamantli
                        <br> kokolistli <br> LC1: tenkuyotl mochipan Tiankistenko <br> kochistli <br> LC2: niau a itta ismachioli <br> LC1: yektik <br> LC2: xixo chinkualnematini achi <br> LC1: amo niman niau atlitia olpatli <br> LC2: tlein motechmoneki
                        ayi ixtlamatki <br> estli in oyu <br> LC1: ojpana intlok tlasojkamati uel miek <br> yekkan
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-button color="secondary" shape="round" expand="block" [routerLink]="['/folder/folder.module']" (click)="subirsalud3()">Siguiente lección</ion-button>
</ion-content>