<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center"> Tlapoua Aueyak Ouitl</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <div class="ion-text-center">
        <h1>Isiukayotl kaxtilkopa</h1>
    </div>
    <p align="center"><iframe frameborder="0" width="350" height="100" src="https://drive.google.com/file/d/1KlWipdawCoYYLeXAEgqhs2BtWyfCOSWz/preview">   
    </iframe></p>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Subtitulo en español</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        LC1: Hola Mary, ¿cómo estás? <br> LC2: Muy bien gracias y ¿tú? <br> LC1: Igual bien, gracias. <br> LC1: Oye Mary, ¿tienes una familia <br> grande o pequeña? <br> LC2: Tengo una familia enorme. <br> Tengo 1 hermano y 9 hermanas.
                        <br> LC1: ¿1 hermano y 9 hermanas? <br> Yo soy hijo único, <br> ¿Cuántos hermanos tienes? <br> LC2: ¡Solo 1! <br> LC1: ¡Qué bien! ¿te llevas muy bien <br> con tus 8 hermanas? <br> LC2: Si, convivimos mucho. <br> LC1: ¿Cuántos
                        años tiene tu hermana <br> mayor? <br> LC2: Tiene 30 años, pero el próximo <br> mes cumple 31. <br> LC1: ¡Qué bien!, y la ¿menor? <br> LC2: Ella tiene 13 años, es aún muy pequeña. <br> LC1: Oh si, y ¿cuántas tías y tíos tienes?
                        <br> LC2: Mmm déjame ver, 7 tías y 4 tíos. <br> LC1: En realidad tienes una familia grande, <br> Mary, yo quisiera tener una familia <br> más grande. <br> LC2: Así es, me dio gusto saludarte. <br> LC1: Gracias, igualmente adiós.
                        <br> LC2: Adiós cuídate.


                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Tlajkuiloli kaxtilkopa</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        LC1: niltse Mary,¿kenin otimopanolti? <br> LC2: senka kuali.¿kenin otimopanolti? <br> LC1: senka kuali tlasojkamati <br> LC1: Mary ¿ kenimin chantlakauan uey o tlajkotontli? <br> LC2: pia chantlakauan uey, pia chiknaui temini <br>                        LC1: ¿chiknaui temini? nejuatl siuakonetl ¿keskipan iknitl ? <br> LC2: se, pia chikueyi ueltiutli <br> LC1: senka kuali akia auiya <br> LC2: niltse Mary,¿kenin otimopanolti? <br> LC1: senka kuali.¿kenin otimopanolti? <br> LC2:senka
                        kuali tlasojkamati <br> LC1: Mary ¿ kenimin chantlakauan uey <br> o tlajkotontli? <br> LC2: pia chantlakauan uey, pia chiknaui <br> temini <br> LC1: ¿chiknaui temini? nejuatl siuakonetl <br> ¿keskipan iknitl? <br> LC2: se, pia
                        chikueyi ueltiutli
                        <br> LC1: senka kuali akia auiya
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-button color="secondary" shape="round" expand="block" [routerLink]="['/customers3']" (click)="subirnumero3()">Siguiente lección</ion-button>
</ion-content>