<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Pakayelistli Aueyak tsala</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected3">
            <ion-list-header>
                <ion-label>Pepena in patiani palouili</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Dolor del corazon</ion-label>
                <ion-radio slot="start" value="corazon"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Estornudo</ion-label>
                <ion-radio slot="start" value="estornudo"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Fiebre</ion-label>
                <ion-radio slot="start" value="fiebre"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar1()">Verificar1</ion-button>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected4">
            <ion-list-header>
                <ion-label>Pepena in patiani ouiyo</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Enfermedad contagiosa</ion-label>
                <ion-radio slot="start" value="contagiosa"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Dolor del cuerpo</ion-label>
                <ion-radio slot="start" value="cuerpo"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Escurrimiento nasal</ion-label>
                <ion-radio slot="start" value="nasal"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar2()">Verificar2</ion-button>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-radio-group [(ngModel)]="value_selected5">
            <ion-list-header>
                <ion-label>Pepena in patiani kentsin</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Embarazada</ion-label>
                <ion-radio slot="start" value="embarazada"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Falta de aire</ion-label>
                <ion-radio slot="start" value="aire"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Estreñimiento</ion-label>
                <ion-radio slot="start" value="estreñimiento"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-button color="success" shape="round" fill="outline" (click)="verificar3()">Verificar3</ion-button>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-button slot="end" color="secondary" shape="round" [routerLink]="['/folder/folder.module']">Terminar Lesion</ion-button>
    </ion-list>
</ion-content>