<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tlapali aueyak tsala</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-label class="user_Name">1.-¿kenin anoso Chichiltic kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">2.-¿kenin anoso Xoxoctic kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value1"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">3.-¿kenin anoso Azultic kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value2"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">4.-¿kenin anoso Chipahuac kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value3"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">5.-¿kenin anoso Yayahuic kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value4"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">6.-¿kenin anoso Achilcoz kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value5"></ion-input>
    </ion-item>
    <br>

    <ion-label class="user_Name">7.-¿kenin anoso Tenextic kaxtilkopa?</ion-label>
    <ion-item>
        <ion-input [(ngModel)]="value6"></ion-input>
    </ion-item>
    <br>
    <ion-button color="success" shape="round" fill="outline" (click)="verificar()">Verificar</ion-button>


    <ion-toolbar>
        <ion-button slot="start" href="/numeros2">
            <ion-icon slot="start" name="caret-back-outline">
            </ion-icon>
        </ion-button>
        <ion-button slot="end" href="/salud2">
            <ion-icon slot="start" name="caret-forward-outline">
            </ion-icon>
        </ion-button>
    </ion-toolbar>