<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tlapali aueyak ouitl</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <h1>Isiukayotl kaxtilkopa</h1>
    </div>
    <p align="center"><iframe frameborder="0" width="350" height="100" src="https://drive.google.com/file/d/13-irwU28ODsDFI9iEIDHrjRlZvrBlDxr/preview">   
    </iframe></p>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Subtitulo en español</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>LC1: Hola, ¿Puedo ayudarte en algo?. <br> LC2: Si, estoy buscando color para pintar <br> mi casa. <br> LC2: Mira, me gusta el color azul. <br> ¿Qué opinas?.<br> LC1: Está bonito. Combina con el <br> color blanco. <br> LC1:¿Qué opinas
                        de ese verde tierno? <br> Se ve muy bien con el color gris. <br>LC2: No me gusta tanto. <br> Elijamos otros colores. <br>LC1: ¿Qué te parece ese rosa?. <br> LC2: Si, me gusta más. <br>LC2: Lo llevamos, muchas gracias. <br>LC1:
                        De nada hasta pronto.
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
                <ion-label>Tlajkuiloli kaxtilkopa</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>
                        LC1: niltse achuel iknelia in achi. <br> LC2: nika tlatemoali tlapali ika Chantiko. <br> LC2: tlachia paktia tlapali matlaltik <br> ¿ma ayekilua?. <br>LC1: xixo kualtsin. tlaneloli au tlapali. <br> LC1:¿tlein inik amo tlataleualtik?.
                        <br>LC2:quema paloa achi. <br> LC1: in uika tlasojkamati uel miek. <br> LC2: amitla.
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
<ion-toolbar>
    <ion-button slot="start" href="/numeros3">
        <ion-icon slot="start" name="caret-back-outline">
        </ion-icon>
    </ion-button>
    <ion-button slot="end" href="/salud3">
        <ion-icon slot="start" name="caret-forward-outline">
        </ion-icon>
    </ion-button>
</ion-toolbar>