<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>customers3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-toolbar>
    <ion-button slot="start" href="/numeros3">
        <ion-icon slot="start" name="caret-back-outline">
        </ion-icon>
    </ion-button>
    <ion-button slot="end" href="/salud3">
        <ion-icon slot="start" name="caret-forward-outline">
        </ion-icon>
    </ion-button>
</ion-toolbar>