<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Formulario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>


    <div *ngFor="let item of data">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Tipo: {{item.Tipo}}</ion-card-subtitle>
                <ion-card-title>Especialidad: {{item.Especialidad}} <br>Edad: {{item.Edad}}
                    <br>Sexo: {{item.Sexo}} </ion-card-title>

            </ion-card-header>

            <ion-card-content>
                Estas recoemdaciones son basadas desde estuidios Especialidados
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>