<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title align="center">Tetlapaloa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon style="width: 30px;height:30px" name="close-outline" [routerLink]="['/folder/folder.page.html']"></ion-icon>
    </ion-list-header>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Tetlapaloa</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/img/home.jpg"></ion-img>
        <ion-card-content>
            Tlapalolistli
        </ion-card-content>
    </ion-card>
    <ion-row>
        <ion-col size="3">
            Español
        </ion-col>
        <ion-col>
            Nahuatl
        </ion-col>
        <ion-col size="3">
            Ejemplo Machiotl
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Hola
        </ion-col>
        <ion-col>
            Niltse
        </ion-col>
        <ion-col size="3">
            Hola Pedro
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Adios
        </ion-col>
        <ion-col>
            Anej
        </ion-col>
        <ion-col size="3">
            Adios Juan
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Hasta mañana
        </ion-col>
        <ion-col>
            Ixkichka mostla
        </ion-col>
        <ion-col size="3">
            Hasta mañana Alexis
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Que estés bien
        </ion-col>
        <ion-col>
            Ma xipatinemi
        </ion-col>
        <ion-col size="3">
            Que estés bien José
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            ¿Cómo estas?
        </ion-col>
        <ion-col>
            Kenin otimopanolti
        </ion-col>
        <ion-col size="3">
            ¿Cómo estas Ribaldo?
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Mal
        </ion-col>
        <ion-col>
            Akuali
        </ion-col>
        <ion-col size="3">
            Estoy mal
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            Bien
        </ion-col>
        <ion-col>
            Kuali
        </ion-col>
        <ion-col size="3">
            Estoy bien
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            ¿Cómo te llamas?
        </ion-col>
        <ion-col>
            Kenin motoka
        </ion-col>
        <ion-col size="3">
            ¿Cómo te llamas?
        </ion-col>
    </ion-row>
    <ion-button color="secondary" shape="round" [routerLink]="['/numeros']" expand="block">Siguiente Lesion</ion-button>
</ion-content>